{
  "extends": ["@hyeokjaelee/stylelint-config"],
  "ignoreFiles": [
    ".storybook/**/*",
    "**/*.js",
    "**/*.jsx",
    "**/*.ts",
    "**/*.tsx",
    "node_modules/**/*",
    "build/**/*",
    "dist/**/*",
    "public/**/*"
  ]
}
